<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
		<script src="/javascripts/utils.js"></script>
		<script src="/javascripts/libraries/jquery.js"></script>
		<script src="/javascripts/libraries/jquery-ui.min.js"></script>
		<script src="/javascripts/libraries/underscore.js"></script>
		<script src="/javascripts/libraries/bootstrap.js"></script>
		<script src="/javascripts/libraries/Chartjs/Chart.js"></script>
		<script src="/javascripts/index.js"></script>
	</head>

	<body style="padding: 0px;">

		<% include partials/header %>

		<div class="jumbotron" style="background-color: #113C51; color: white; top: 50px;">
			<div class="container">
				<h1>Finance</h1>
				<p>The simplest way to stay up to date with finance</p>
			</div>
		</div>

		<div class="container">
			<% if(currentUser != undefined) { %>
				<!-- If the user is logged in, show customized home page -->

			<% } else { %>
				<!-- If the user is not logged in, show generic home page -->

				<div id="portfolioList">
					<% for(var i=0; i<portfolios.length; i++){ %>
						<div class="row portfolio-row" id="%- portfolios[i].name %>">
							<div class="col-lg-2 summary">
								<strong style="font-size: 200%"><a><%- portfolios[i].name %></a></strong>
								<strong style="font-size: 200%">(Portfolio)</strong>
								<br>
							</div>
							<div class="col-lg-6" style="padding: 0">
								<canvas class="chart" width="300px" height="120px"></canvas>
							</div>
							<div class="col-lg-4 news" style="padding-left: 20px">
								<strong>News</strong>
								<a><p>News article 1</p></a>
								<a><p>News article 2</p></a>
								<a><p>News article 3</p></a>
							</div>
							<hr>
						</div>
					<% } %>
				</div> <!-- portfolioList -->

				<div id="stocksList">
					<% for(var i=0; i<stocks.length; i++){ %>
						<div class="row stock-row" id="<%- stocks[i].ticker %>">
							<div class="col-lg-2 summary">
								<strong style="font-size: 200%"><a><%- stocks[i].ticker %></a></strong>
								<br>
							</div>
							<div class="col-lg-6" style="padding: 0">
								<canvas class="chart" width="300px" height="120px"></canvas>
							</div>
							<div class="col-lg-4 news" style="padding-left: 20px">
								<strong>News</strong>
								<a><p>News article 1 stocks go soaring!</p></a>
								<a><p>News article 2 stocks tank</p></a>
								<a><p>News article 3 the end of the financial markets</p></a>
							</div>
							<hr>
						</div>
					<% } %>
				</div>	<!-- stocksList -->

			<% }; %>
		</div>	<!-- container -->

	</body>

	<script type="text/javascript">
		index.init({
			stocks: <%- JSON.stringify(stocks) %>,
			portfolios: <%- JSON.stringify(portfolios) %>
		});
	</script>

</html>